<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.mqttxplatform.dao.UserMapper">
    <select id="selectByMobile" resultType="com.jun.mqttxplatform.entity.po.User">
        select id,
               mobile,
               password,
               avatar,
               nickname,
               email,
               update_time,
               create_time
        from t_user
        where mobile = #{mobile}
          and del_status = false
    </select>

    <select id="getUserList" resultType="com.jun.mqttxplatform.entity.po.User">
        select id,
               mobile,
               password,
               avatar,
               nickname,
               email,
               update_time,
               create_time
        from t_user
        where del_status = false
    </select>


    <select id="selectUserPermissions" resultType="java.lang.String">
        select permission_name
        from t_user_role_bind urb
                 left join t_role_permission_bind rpb on urb.role_id = rpb.role_id
        where urb.user_id = #{id}
    </select>

    <insert id="insertSelective" parameterType="com.jun.mqttxplatform.entity.po.User">
        insert ignore into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=CHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                now()
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jun.mqttxplatform.entity.po.User">
        update t_user
        <set>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=CHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=CHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>